
/* Hero section */
.hero {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 4rem 0;
  min-height: 600px;
  position: relative;
  overflow: hidden;
  margin-top: 2rem;
}
.hero-title-container {
  width: 100%;
  margin-bottom: 2rem;
  z-index: 2;
}
.hero-content {
  width: 50%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding-left: 2rem;
}

.hero h1 {
  font-size: 3.5rem;
  font-weight: 800;
  color: white; /* Couleur adaptée pour la lisibilité en haut */
  margin-bottom: 1.5rem;
  line-height: 1.1;
  position: relative;
  display: inline-block;
}
.hero h1:after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100px;
  height: 4px;
  background-color: var(--primary);
  border-radius: 2px;
}
.hero-main-content {
  display: flex;
  width: 100%;
  align-items: center;
}
.hero-content {
  width: 50%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding-left: 2rem;
}
.hero p {
  font-size: 1.1rem;
  color: white;
  margin-bottom: 1rem;
  line-height: 1.6;
  max-width: 90%;
}

.hero-cta {
  background-color: var(--primary);
  color: white;
  border: none;
  padding: 0.8rem 10rem;
  border-radius: 5px;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  display: inline-block;
  text-decoration: none;
  margin-top: 1rem;
}

.hero-cta:hover {
  background-color: var(--primary-dark);
}

.hero-image-container {
  position: relative;
  width: 50%;
  height: 450px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

.hero-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://images.unsplash.com/photo-1600585154340-be6161a56a0c?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80');
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  transition: transform 0.8s ease;
}

.hero-image:hover {
  transform: scale(1.05);
}